h1{
  text-align:center;
  background-color: #3e8e41;
  box-shadow: 0 10px #666;
  transform: translateY(14px);
  

}
.entrer
{
	border-style:solid ;
    background-color: pink;
	border: ;
	color: green;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 12px 0px;
	cursor: pointer;
	border-radius: 15%;

}

#gauche
{ 
width:50%;
height:450px;
background-color:pink;
background: url('connection.gif');
background-position: center;
background-repeat:no-repeat;
float:left;
}

#membre
{ 
text-align: right;
width:50%;
height:250px;
background-color:pink;
/*background: url('accueil.gif');*/
background-position: center;
background-repeat:none;
float:left;
}
#MembreInscription
{ 
text-align: right;
width:50%;
height:350px;
background-color:pink;
/*background: url('accueil.gif');*/
background-position: center;
background-repeat:none;
float:left;
}

#admin
{ 
text-align: right;
width:50%;
height:450px;
background-color:pink;
/*background: url('accueil.gif');*/
background-position: center;
background-repeat:none;
float:right;
}

#bass
{
text-align : right;
background-color: gray;
background-image: url('accessoires.jpg');
	float: right
}