div#haut-de-page a
{    
    
	border-style: double;
    background-color: green;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 2px 2px;
	cursor: pointer;
	border-radius: 10%;
}

.Aff-imp

/*{ float: left; }
// width: 30%; text-align: center; padding: 0%; border-bottom: 15px solid #c0c0c0; }
{*/
	{
float: left; 
width: 10%; 


}

.Aff2
{
float: left; 
/*
width: 30%; 
text-align: center; 
padding: 25%; 
border-bottom: 1px solid #c0c0c0; 
border-style: double;
 */ 
}
.A:hover{ background: pink;
float: left;}

#tout
{
	width: 100%;
    height: 450px;
	/*float : left;*/
}
.conteneurbis
{
	width: 50%;
    height: 450px;
	float : left;
}
.A
{
	width: 50%;
    height: 450px;
	float : left;
	border-style: ;
    background-color: ;
	border: ;
	color: green;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 12px 0px;
	cursor: pointer;
	border-radius: 15%;
	/*float:right;*/
	
}




.d1{
    width: 95%;
    height: 450px;
    margin: auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}

.conteneur{
    width: 5%;
	 height: 200px;
    margin: auto;
}

.d2{
    width: 5%;
    height: 200px;
    padding-top: 75%;
    box-shadow: 0px 0px 10px #777;
    background-color: #EDEDCC;
    background-size: contain;
    //animation: fondu 15s ease-in-out infinite both;
}

.d1:hover, .d2:hover{
    animation-play-state: paused;
}
@keyframes fondu{
    10%{background-image: url('sav.jpg');}
    20.33%{background-image: url('desktop.jpg');}
    33.67%{background-image: url('accessoires.jpg');}
	40.67%{background-image: url('imp1membre.png');}
	60.67%{background-image: url('imprimente.gif');}
    100%  {background-image: url('pc-mac-tablette.jpg');}
		  {background-repeat:none;}
}

#ambiance
{ 
width:50%;
height:150px;
background-color:pink;
/*background-image: url('ambiance.gif');*/
background-position: center;
background-repeat:none;
}

/*
.body
{ 
width:100%;
height:450px;
background-color:pink;
background-image: url('ambiance.gif');
background-position: center;
background-repeat:none;
}
*/

#entete
{
text-align : center;
background-color: gray;
background-image: url('accessoires.jpg');
}
h3{
  background-color: #3e8e41;
  box-shadow: 10 10px #666;
  transform: translateY(14px);

}