a
{    
    
	border-style: double;
    background-color: green;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 2px 2px;
	cursor: pointer;
	border-radius: 10%;
}

h3{
  background-color:aquamarine;
  box-shadow: 10 10px #666;
  transform: translateY(14px);

}
#bas
{
text-align : right;
background-color: gray;
background-image: url('accessoires.jpg');
	float: right
}