body
{ 
	font-family : verdana; font-size: 12px; 
}
a
{ 
	text-decoration: underline; color: #000; 
}
.conteneur
{
	margin: 0 auto; max-width: 450px; 
}
form
{
	background-color:chartreuse;
	text-decoration-color:aqua; 
}
img
{
	background-color:chartreuse;
	text-decoration-color:aqua; 
}
iframe
{
    border-left-style: double;
	border-right-color: aquamarine;
	width: 65%;
    height: 440px;
	float:right;
	background-color:aliceblue;
	background-attachment: fixed;
}
.bb
{
	
	
	border-style: double;
    background-color: green;
	border: none;
	color: white;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 2px 2px;
	cursor: pointer;
	border-radius: 0%;
}
h3,h4{
  background-color: #3e8e41;
  box-shadow: 10 10px #666;
  transform: translateY(14px);

}
/*input[type=submit]*/
.panier
{
background:url('panier_laptop.jpg') no-repeat;
border:2;
color:#fff;
font-size:12px;
font-weight:lighter;
height:100px;
width:100px;  
}
.btnsup
{
background:url('btnsupp.png') no-repeat;
border:2;
color:#fff;
font-size:12px;
font-weight:lighter;
height:50px;
width:50px;  
}
.btnsuptout
{
background:url('btnsuptout.png') no-repeat;
border:2;
color:#fff;
font-size:12px;
font-weight:lighter;
height:80px;
width:80px; 

}
table
{
	border-radius:20px;
	border-bottom-color:green;
}